# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.
.DS_Store
# Common VCS dirs
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
# Common backup files
*.swp
*.bak
*.tmp
*.orig
*~
# Various IDEs
.project
.idea/
*.tmproj
.vscode/
# Binary files
*.out
*.exe
*.dll
*.so
# Helm Chart packages
*.tgz
charts/*.tgz
# CI/CD files
node_modules/
get_helm.sh
index.yaml
package.json
package-lock.json
release_output.txt